$black: #3c3d31;
$mint: #84fab0;
$skyblue: #8fd3f4;
$purple: #383d95;
$slate: #8892b0;
$medium-slate: #a8b2d1;
$light-slate: #ccd6f6;
$white: #f2f2f2;
$body-text: #dbdbdb;

$mobile-devices: '(pointer: coarse)';

// FONTS
$serif: 'AgeLast', serif;
$sans-serif: 'Space Mono', monospace;

// BREAKPOINTS
$bp5: '575px';
